.calc_container {
  width: 58%;
  margin: 24px 20% 0 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 4px 4px rgb(19, 78, 78);
}

.calc_phrase {
  font-size: 1.5rem;
  margin: 24px 0 0 5%;
}

@media all and (min-width: 768px) {
  .calc_container {
    width: 35%;
    margin: -24px 7% 0 57%;
  }
}
