@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(242, 239, 234);
}

.home_container {
  margin: 24px 5% 0 5%;
}

.home_title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 12px;
}
